/* #region common rules */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Lato', sans-serif;
    background-color: var(--bg-dark);
    font-size:13px;
}
img{
    width:100%;
}

:root{
    --bg-dark:#000000;
    --light-dark:#222222;
    --white:#E7EFEF;
    --overlay:#7e8e9ea8;
    --bg-lighter:#4A4A4A;

}

i{
    color:var(--white);
}

/* #endregion common rules */

/* #region utiliy */
.d-flex{
    display:flex;
    gap:0.3rem;
}

.col-1{
    width:calc(( 100vw / 7) * 1);
    position:relative;
}

/* #endregion utility */

/* #region site_main */
#site_main{
    padding: 3.5rem 3.5rem 1.5rem;
}

.speaker_view_icon{
    background-color: var(--bg-lighter);
    color:var(--white);
    padding: 0.25rem;
    display: inline-block;
    margin-top:0.35rem;
    margin-right:0.35rem;
    border-radius: 0.35rem;
    float:right;
}

.user_name{
    background-color:var(--overlay);
    display: inline;
    padding:0.25rem;
    position:absolute;
    left: 0;
    bottom:0.25rem;
}
i+span{
    color:var(--white);
}
/* #endregion site_main */

/* #region tool_bar */
.tool_bar{
    background-color: var(--light-dark);
    height:50px;
}
/* #endregion tool_bar */
